{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes ☕🥐</h1>

	  <table class="table" style="color: white;">
    {% for row in cafes %}
    <tr>
        {% for item in row %}
        {% if item[0:4] == "http" %}
        <td><a href="{{ item }}">Map Link</a></td>
        {% else %}
        <td>{{ item }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}      
  	</table>
  </div>
  <p><a href="{{ url_for('add_cafe')}}">+ Add Cafe</a></p>
</div>
  <p><a href="{{ url_for('home')}}">🏠︎ Homepage</a></p>
</div>
{% endblock %}
